$font-mono: 'Courier New', Courier, monospace;

$max-width: 56rem;
$border-width: 2px;

$transition-speed: 0.3s;

$spacing-xs: 0.31rem;
$spacing-sm: 0.5rem;
$spacing-md: 0.63rem;
$spacing-lg: 0.94rem;
$spacing-xl: 1.25rem;
$spacing-2xl: 1.88rem;
$spacing-3xl: 2.5rem;

$font-xs: 0.75rem;
$font-sm: 0.88rem;
$font-base: 1rem;
$font-lg: 1.13rem;
$font-xl: 1.25rem;
$font-2xl: 1.5rem;
$font-3xl: 1.75rem;
$font-4xl: 2rem;
