{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
<div class="error-page">
    <pre class="error-ascii">
                                            .++******+=                                             
                                    *#########################*+                                    
                               *####################################=                               
                           +############################################.                           
                        **#################################################.                        
                     .*#####################*#+=---=+*#######################*                      
                   +#################*.                      =*#################                    
                 *##############*+                                *###############                  
               =##############                                       =#############*                
              #############-                                            *############*              
            *#############                                                -############             
           *###############*                              @@                -###########*           
          ###################*                           @@@@                 *##########*          
         ##########* ##########:                         @@@@     @@            ###########         
        ##########=    *#########                @@@@:   @@@@   *@@@@            ###########        
       ##########       :#########*              @@@@@   @@@@   @@@@@             *#########*       
      ##########          +#########*            @@@@@   @@@@   @@@@@              +#########*      
     *#########             *#########*          @@@@@   @@@@   @@@@@               *#########.     
    .#########-               ##########=        @@@@@   @@@@   @@@@@                *#########     
    #########*                  #########*       @@@@@   @@@@   @@@@@    @@@@         #########*    
   .#########                     #########*     @@@@@   @@@@   @@@@@    @@@#         *#########    
   *########*                      =#########*   @@@@@   @@@@   @@@@:   @@@@           #########:   
   #########           .@:    @:     *#########* @@@@@  :@@@@   @@@@   *@@@.           *########*   
   #########         @           @     *#########*@@@@@@@@@@@   @@@@   @@@@             #########   
  +########*        @             @      ##########*@@@@@@@@@@@@@@@@  @@@@              #########   
  *########*                      *        #########*%@@@@@@@@@@@@@@%@@@@@              #########   
  *########*       *            -#@@  :@@.  :##########@@@@@@@@@@@@@@@@@@               #########   
  *########*                      @ :@@@@@@@  +#########*@@@@@@@@@@@@@@@@               #########   
  +########*      @               @   @@@@@@@@  *#########*@@@@@@@@@@@@@                *########   
   ########*      %               @     @@@@@@@   ##########*@@@@@@@@@@@                #########   
   #########       @       %   -  @      @@@@@@@@@@%###########@@@@@@@@-               *########*   
   *########*        @     @   @  *       +@@@@@@@@@@###########%@@@@@@                #########:   
   .#########        #     @   # @          @@@@@@@@@@@*#########*@@@@@               +#########    
    *########*@#-               #            @@@@@@@@@@@@*#########*@@@               #########*    
    .#########=              %                @@@@@@@@@@@@@*#########*               *#########     
     *#########                                @@@@@@@@@@@@@@*#########:            *#########:     
      ##########                                #@@@@@@@@@@@@@%##########          +#########*      
       ##########                    @            @@@@@@@@@@@@@@###########       +##########       
        ##########=                %                 @@@@@@@@@@@  +#########*    *##########        
         ##########*              #                                 *#########+ ###########         
          ###########.          @                                     *##################*          
           ############       @                                         ################*           
            *###########*    *                                            #############             
              *############+                                            *#############              
               +##############                                       -#############*                
                 *###############=                                *###############.                 
                   +#################*                       =*#################.                   
                     :######################**+=-::-=+**#####################*                      
                        *##################################################:                        
                           +############################################:                           
                               *####################################=                               
                                    *#########################*+                                    
                                            -+********+.                                            
                                                                                                    
    </pre>
    
    <pre class="error-art">
  ╔═══════════════════════════════╗
  ║         ACCESS DENIED         ║
  ╚═══════════════════════════════╝
    </pre>

    <div class="error-actions">
        <a href="/" class="nav-link">[return home]</a>
        <a href="/blogs/" class="nav-link">[browse blogs]</a>
    </div>
</div>
{% endblock %}
